body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-size:cover;
    height:100px;

    
}
h1{
    font-size: 40px;
    font-family:'Poppins', sans-serif;
    
}
.heading{
    color:palevioletred;
}

#Half-page{
    
   width:50%;
   float:left;
   margin-top:70px;
   
}

#Half-page img{
   width:43%;
   padding-left:200px;

}
 .Button{
    text-decoration:none;
    border: 1px solid peachpuff;
    width:100px;
    padding:5px 10px;
    text-align: center;
    border-radius: 5px;
    background-image:linear-gradient(50deg, pink, red);
    color:white;
    font-weight: 900;
}

.lower-banner{
    margin-top: 30px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
  background-position: right;
    background-size: 100px;
}

#lower-page img{
    width:30%;
    float:left;
    display:block;
    clear:both;
   padding-left: 1px;
   text-align: center;
   padding-top: 10px;
   margin-top: 100px;
}
.perform{
   width: 500px;
  
}
.lower-side{
    width:50%;
    padding-left:600px;
    margin-top: 100px;
    text-align: justify;
    padding-top: 400px; 
    margin-bottom: 50px;;  
}
.full-stack{
  
  border:0px solid blue;
  box-shadow: 3px 5px grey;
  width:30%;
  float:left;
  text-align: center;
  margin: 50px 30px;

}
.card{
    margin:50px 30px;
    width:100%;
    padding: 50px 30px;
}


